body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.kumo.up{
  height: 100px;
  width: 500px;
  background:#369A7E;
  border-radius: 9999px 0% 0% 9999px;
}
.kumo.middle {
  background-color: #369A7E;
  left: 100;
  height: 100px;
  width: 600px;
  background: white;
  border-radius: 9999px 9999px 9999px 9999px;
}
.kumo.down {
  left: 100;
  height: 100px;
  width: 600px;
  background:#369A7E;
  border-radius: 9999px 9999px 9999px 9999px;
}