@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sawarabi+Mincho&family=Cedarville+Cursive:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
/*background-image: url('./assets/img/hero-l.jpg');*/
}
.font-body{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}
.font-hedding{
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
}
.letter-vertical{
    font-family: "Sawarabi Mincho";
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright; 
  }
.egg-big{
    width: 60px;
    height: 70px;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    /*★　　　　　　 a　 b　 c　 d　　 e　 f　 g　 h　*/
    border-radius: 50% 50% 50% 50% /60% 60% 40% 40%;
    transform: rotateZ(10deg)
 }
.egg{
   width: 26px;
   height: 65px;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   /*★　　　　　　 a　 b　 c　 d　　 e　 f　 g　 h　*/
   border-radius: 50% 50% 50% 50% /60% 60% 40% 40%;
   transform: rotateZ(10deg)
}
.egg-span{
    transform: translateX(-18px); /* Adjust the value as needed */
}
.text-align-center {
    text-align: center; /* or left, right */
  }
.co-egg{
    width: 30px;
    height: 40px;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    /*★　　　　　　 a　 b　 c　 d　　 e　 f　 g　 h　*/
    border-radius: 50% 50% 50% 50% /60% 60% 40% 40%;
    transform: rotateZ(-20deg) translateY(20px);
    background-color: #ff07ad;
}

  @layer utilities {
    .max-container {
      @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh)];
    }
    .head-text {
        @apply sm:text-5xl text-3xl font-semibold sm:leading-snug;
    }
 }