.offers {
    margin: auto;
    width: 100%;
    height: 67vh;
    position:relative;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 80px;
}

.offers h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.offers hr{
    width: 180px;
    height: 6px;
    border-radius: 10px;
    margin: 20px 0 60px 0;
    background: #252525;
}
.offers .offers-banner-container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    height: 48vh;
    position:relative;
    overflow: hidden;
    border-radius:1rem;
    box-shadow:2px 2px 8px  #7a7a7a;
}
.offers .offers-banner{
    inset: 0 0 0 0;
    position: absolute;
    display: flex;
}
.offers .offers-banner img{
    width: 100%;
    object-fit: cover;
}
.offers .offers-banner .content{
    position: absolute;
    top: 10%;
    left: 30%;
    padding: 1rem;
    max-width: 80%;
    transform: translateX(-50%);
    box-sizing: border-box;
    float: left;

}
.offers .offers-banner .content h1{
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 5px 3px #0004;
}
.offers .offers-banner .content p{
    color:  #ff4141;
    font-weight: bold;
    margin-top: 7px;
}
.offers .offers-banner .content button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}
.offers .content button:hover{
    color: #ff4141;
    background: white;
}


@media(max-width: 1280px){
    .offers{
        margin-bottom: 70px;
        width: 100vw;
        height: 45vh;
    }
    .offers h1 {
        font-size: 40px;
    }
    .offers hr{
        width: 180px;
    }
    .offers .offers-banner .content{
        top: 0%;
    
    }
    .offers .offers-banner .content h1{
        font-size: 3.5rem;
    }
    .offers .offers-banner .content button{
        width: 225px;
        height: 50px;
        border-radius: 30px;
        font-size: 20px;
    }
   
}
@media(max-width: 1024px){
    .offers{
        height: 30vh;
    }
    .offers h1 {
        font-size: 30px;
    }
    .offers hr{
        width: 160px;
    }
    .offers .offers-banner img{
        width: 130%;
    }
    
    .offers .offers-banner .content{
        padding: 10px;
    }
    .offers .content h1{
        font-size: 3rem;
    }
    .offers .content button{
        width: 200px;
        height: 50px;
        border-radius: 35px;
    }
}

@media(max-width: 800px){
    .offers{
        width: 93vw;
    }
    .offers h1 {
        font-size: 20px;
    }
    .offers hr{
        width: 120px;
    }
    .offers .content h1{
        font-size: 2rem;
    }
    .offers .content button{
        width: 150px;
        height: 40px;
       font-size: 18px;
    }
}

@media(max-width: 500px){
    .offers{
        margin-bottom:80px ;
    }
    .offers hr{
        margin: 5px 0 20px 0;
    }
    .offers .offers-banner .content{
        margin: 5px;
        padding: 20px;
    }
    .offers .offers-banner .content h1{
        font-size: 1.8rem;
    }
    .offers .offers-banner .content button{
        width: 185px;
        height: 35px;
        font-size: 16px;
    }
   
}