
.title{
    margin: 50px 0px;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.category{
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    justify-content: center;
    width: 15%;
    height: 80px;
    border-radius: 10px;
}
.category.trend{
    background-color: #08537b31;
}
.category.tech{
    background-color: #39899390;
}
.category.food{
    background-color: #1d70c27e;
}
.category.create{
    background-color: #04b8f459;
}
.category.travel{
    background-color: #57c4fe60;
}
.category.culture{
    background-color: #47bdbf50;
}


.image{
    border-radius: 50%;
}
@media screen and (max-width: 1280px){
    .category{
        width: 20px;
    }
}
@media screen and (max-width: 1024px){
    .category{
        width: 25%;
    }
}
@media screen and (max-width: 768px){
    .category{
        width: 45%;
    }
}
@media screen and (max-width: 640px){
    .category{
        width: 100%;
    }
}